/* Add padding to the container */
.navbar-container {
    height: 60px;
  }
  
.logo {
    max-height: 60px;
  }


  /* Add space between navigation links */
.navbar-links .nav-link {
    padding: 23px 0;
    position: relative;
    margin-right: 20px; 
    width: 100px;
    text-align: center;
    font-weight: 500;
    font-family: 'Mali', cursive;

  }

.navbar-links .nav-link::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #f75c03;
    bottom: 0px;
    left: 0;
    position: absolute;
    transform: scale(0);
    transition: ease 0.3s;
}  

.navbar-links .nav-link:hover::after{
    transform: scale(1);
}

.navbar-links .nav-link:hover {
    background-color: #f5f5f5;
}
  
  /* Remove margin from the last link to avoid unnecessary space */
.navbar-links .nav-link:last-child {
    margin-right: 0;
  }
  
 /* Remove the arrow icon from the Navbar Dropdown */
.navbar-nav .nav-item.dropdown .dropdown-toggle::after {
    display: none;
  }
  
 /* Change color of FaUserCircle on hover and click */
.dropdown-toggle:hover > svg, 
.dropdown-toggle:focus > svg {
  color: #57da0b; 
}

.shopping-bag-link:hover > svg {
    color: #57da0b; /* Change to the desired color */
  }
  
.dropdown-toggle > svg,
.shopping-bag-link > svg {
    color: #f75c03;
    font-size: 24px;
  }

.justify-content-end {
    display: flex;
    align-items: center;
    background-color: #e8e8e8;
  }
  
.user-icon {
  display: flex;
  align-items: center;
  padding: 15px 0;
  background-color: #f5f5f5;
}