main{
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
main .welcome-container{
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}
main .welcome-container .photo{
    display: flex;
    justify-content: center;
}
main .welcome-container .photo img{
    width: 90%;
}
main .welcome-container .content h4{
    font-size: 32px;
    line-height: 35px;
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 25px;
    letter-spacing: 0.6px;
    margin-top: 15px;
}
main .welcome-container .content p{
    color: #999999;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.9px;
    margin-bottom: 50px;
}
main .welcome-container .content .box{
    display: flex;
    gap: 10px;
}
main .welcome-container .content .icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #d22e2c;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
main .welcome-container .content .icon:hover svg{ 
    color: #000;
}
main .welcome-container .content .icon svg{
    font-size: 45px;
    color: #fff;
}
main .welcome-container .content .box .content h5{
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    text-transform: uppercase;
}
main .welcome-container .content .box .content p{
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.9px;
    color: #999999;
    line-height: 22px;
}

@media (min-width: 1490px) {
    main{
        min-height: 80vh;
    }
    main .welcome-container{
        width: 85%;
    }
    main .welcome-container .content h4{
        font-size: 35px;
    }
    main .welcome-container .content p{
        font-size: 15px;
    }
    main .welcome-container .content .icon{
        width: 85px;
        height: 85px;
    }
    main .welcome-container .content .icon svg{
        font-size: 50px;
    }
}

@media (max-width: 992px) {
    main .welcome-container .content .first-row{
        justify-content: center;
    }
    main .welcome-container .photo{
        margin-top: 15px;
    }
    main .welcome-container .photo img{
        width: 40%;
    }
}

@media (max-width: 500px){
    main .welcome-container .content h4{
        font-size: 25px;
    }
}